# Core
cryptography
jiwer
mad
python-dateutil
python-slugify
pytz
PyYAML
blessings

# audioengines/pyaudio-ae
pyaudio
# audioengines/alsa-ae
pyalsaaudio

# STT engine VOSK
vosk

# webrtcvad
webrtcvad
